<form action="/categories" method="post">
  <label for="name">Category Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Next</button>
</form>

<a href="/">Cancel</a>
