<h1>Recipe Box</h1>

<% if @recipes.any?() %>

  <h3>All Recipes:</h3>

  <% @recipes.each() do |recipe| %>
    <ul>
      <li><a href="/recipes/<%= recipe.id() %>"><%= recipe.description() %></a>
    </ul>
  <% end %>

<% else %>

  <p>no recipes yet.</p>

<% end %>
<br>
<% if @categories.any?() %>

  <h3>Choose by Category:</h3>

  <% @categories.each() do |category| %>
    <ul>
      <li><a href="/categories/<%= category.id() %>"><%= category.description() %></a>
    </ul>
  <% end %>

<% else %>
  <p>no categories yet.</p>
<% end %>

<a href="/recipes/new">Add a new recipe!</a>
