<!DOCTYPE html>

<html>
  <head>
    <title>Recipe Box</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron"><h1>Recipe Box</h1><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
    <p class="lead">For all your cooking needs.</p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
